@import url('https://fonts.googleapis.com/css?family=Aleo|Karla');

body {
    width: 800px;
    font-family: Karla, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    color: #494949;
}

header {
    width: 250px;
    float: right;
    padding-bottom: 50px;
}

section {
    float: left;
    width: 500px;
    padding-bottom: 50px;
    padding-left: 50px;
}

section p {
    font-family: Aleo, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

footer {
    float: left;
    padding-bottom: 50px;
    padding-left: 50px
}
